.text {
    width: fit-content;
}

.s {
   font-size: 16px;
    line-height: 24px;
}

.m {
    font-size: 20px;
    line-height: 30px;
}

.xl {
    font-size: 40px;
    line-height: 48px;
}

.black {
    color: rgba(33, 37, 41, 1);
}

.white {
    color: rgba(255, 255, 255, 1);
}

.gray {
    color: rgba(108, 117, 125, 1);
}

.blue {
    color: rgba(24, 119, 242, 1);
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.link {
    color: rgba(24, 119, 242, 1);
    border-bottom: 1px solid rgba(24, 119, 242, 1);
}